* {
    margin: 0 !important;
    padding: 0 !important;
}

.hero {
    background: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg') no-repeat center center;
    background-size: 100vw 100vh;
    position: absolute; /* Le fond est fixé en haut de la page */
    width: 100vw; /* Il occupe toute la largeur de l'écran */
    height: 50vh; /* On met ici la même hauteur que le jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron {
    height: 50vh;
}

.img-1 {
    height: 40vh;
    width: 40vw;
}

.logo-techno {
    height: 9vh;
    width: 7vw;
}

.logo-h {
    height: 7vh;
    width: 5vw;
}

.logo-f {
    height: 3vh;
    width: 2vw;
}

